# dependencies
/node_modules
/backend

#assets
src/components/images/Rostochia.mp4


src/components/images/Rostochya.gif
src/components/images/Rostochya.mp4
src/images/Rostochya.gif
src/images/Rostochya.mp4
