/* HOMEPAGE */
/* .header {
  width: 85%;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url("images/Rostochya.mp4");
  background-size: cover;
} */
/* body {
  overflow-y: hidden;
} */
* {
  margin: 0;
  padding: 0;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

video {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 65vh;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* .video-wrapper {

  position: relative;

  width: 400px;
  height: 200px;


  overflow: hidden;


  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.map {
  /* display: block; */
  /* width: 100px;
  height: 100px; */
  /* z-index: 999; */
  /* width: 50vw;
  height: 30%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.navbar {
  top: 0;
  width: 100%;
  /* height: 100%; */
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 20px;
  z-index: 100;
  user-select: none;
}

.navbar-white {
  color: white;
}

.navbar-black {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.detailed-info {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 30vw;
  height: 87.9vh;
  background-color: whitesmoke;
  overflow-x: hidden;
  margin-top: 77px;
}

.side-menu {
  position: absolute;
  z-index: 1000;
  width: 25vw;
  height: 87.9vh;
  background-color: whitesmoke;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* .leaflet-control-zoom-in {
  display: none;
} */

.backArrow {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: flex-start;
  margin-left: -150px;
}

.monument {
  width: 98%;
  margin: 5px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  filter: grayscale(80%);
}

.monument:hover {
  filter: grayscale(0);
}

.monument-full {
  width: 100%;
  height: auto;
}

.monument-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  padding: 10px;
  background-color: #74bd9b;
  width: 30%;
  border-radius: 5px;
  margin-top: 10px;
}
.monument-title {
  font-size: 24px;
  padding: 5px 15px;
  text-align: center;
  font-family: "Souses", sans-serif;
}
.monument-text {
  font-size: 20px;
  padding: 10px 35px;
  font-family: "Nunito", sans-serif;
  text-align: justify;
}

.monument-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross {
  position: absolute;
  z-index: 5000;
  height: 28px;
  width: 28px;
  top: 0;
  right: 0;
  padding: 15px;
  /* margin-right: 500px; */
  cursor: pointer;
}

.list-search-bar {
  display: flex;
  /* justify-content: center; */
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  padding: 10px;
  background-color: #74bd9b;
  margin-bottom: 10px;
}
.search-text {
  /* text-align: center;
  display: flex;
  justify-content: center; */
  margin-left: 110px;
}
/* .left,
.right {
  flex: 1;
} */

.listSearch {
  width: 38px;
  height: 38px;
  position: absolute;
  z-index: 2000;
  margin-top: -55px;
  margin-left: 20px;
}

.main-title {
  top: 0;
  width: 100%;
  height: 75%;
  flex-direction: column;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-family: "Souses", sans-serif;
  font-weight: 400;
  user-select: none;
}

.main-button {
  color: white;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 40px;
  border: 3px solid white;
  padding: 10px 15px;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.current-selected {
  text-decoration: overline;
}

.navbar img {
  color: white;
  width: 35px;
}

.navbar-main {
  display: flex;
  gap: 20px;
}

.main-news {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  user-select: none;
  /* margin-top: -40px;
  margin-left: 40px; */
  margin: -20px 20px 20px;
  gap: 20px;
}

.news-container {
  width: 15%;
  /* border: 1px solid black; */
  color: white;
  min-height: 200px;
  margin-top: 50px;
  /* background-color: rgba(65, 176, 95, 0.2); */
  border-radius: 10px;
  background-color: rgb(46, 73, 133);
  height: 220px;
  padding: 5px;
}

.news-head {
  border-bottom: 1px solid grey;
  text-align: center;
  padding: 10px 0px;
}

.news-body {
  padding: 15px;
  /* border-top: 1px solid grey;
  border-bottom: 1px solid grey; */
  text-align: center;
}

/* .news-link {
  padding: 10px 0px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
} */

.weather {
  /* bottom: 70px;
  right: 150px; */
  /* position: absolute;
  text-align: center; */
  /* width: fit-content;
  height: fit-content; */
  /* height: 100%; */
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.3rem;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  user-select: none;
  /* margin-top: 150px;
  margin-left: -150px; */
  margin: 0;
  color: white;
  background-color: rgb(46, 73, 133);
  height: 180px;
  width: 240px;
  padding: 25px;
  border-radius: 10px;

  margin-right: 5px;
}

.bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.weather > img {
  width: 38px;
  height: 38px;
}
/* .weather > p {
  margin-right: -40px;
} */

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: rgb(32, 52, 94);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 10px; */
}

.weather img {
  /* display: flex;
  justify-content: center; */
}

.leaflet-marker-icon {
  /* box-shadow: 10px 10px; */
  /* background-color: black; */
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
}

.dragList {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  /* border: 1px solid black; */
  width: fit-content;
  box-shadow: 0 0 0 1px black;
  min-width: 522px;
  height: 80px;
  /* width: 750px !important; */
  justify-content: center;
  align-items: center;
  /* margin-top: -50px; */
  margin-bottom: 50px;
}

.draggable {
  border-radius: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  justify-content: center;
  background-color: white;
  min-width: 120px;
  height: 40px;
  margin: 5px;
}

.touroute {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-top: 100px;
  user-select: initial;
  position: relative;
  /* overflow-x: hidden; */
}

.drag-icon {
  width: 28px;
  height: 28px;
}

.drag-title {
  font-size: 24px;
  max-width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.drag-priority {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  width: 400px;
  height: fit-content;
  margin-top: 50px;
}

.priority {
  border: 1px solid black;
  height: 80px;
  padding: 10px;
  min-width: 200px;
  border-bottom: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.highest {
  background-color: #00ff00;
  border-top: 1px solid black;
}
.high {
  background-color: #95ff66;
}
.medium {
  background-color: #c8ffb3;
}
.low {
  background-color: #ffe3d6;
}

.zero {
  background-color: #fdb7b1;
  border-bottom: 1px solid black;
}

.drag-priority > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.number {
  font-size: 20px;
}

.drag-button {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  /* margin-top: 20px; */
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-left: 20px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.drag-result {
  font-size: 20px;
}

.drag-result > span {
  font-weight: 600;
}

.App-body-news {
  width: 100%;
  margin-bottom: 120px;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  flex-basis: 100%;
  flex-wrap: wrap;
}

.card-temp {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  /* flex-grow: 1; */
}

.form-wrapper,
.table-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.mt-4 {
  background-color: #2980b9 !important;
}

.App-table {
  display: flex;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100% !important;
}

.App-admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-admin {
  margin-bottom: 40px;
  padding: 30px;
  width: 50%;
}

.wrapper-users {
  margin-top: 30px;
}

.weather-image {
  width: 60px;
  height: 60px;
}

.card-temp {
  width: 200px;
  /* background-color: rgba(40, 127, 184, 0.5); */
}

.news-page {
  margin: 100px;
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  flex-wrap: wrap;
  /* flex: 1 0 800px; */
}

.news-container-detailed {
  width: 15%;
  /* border: 1px solid black; */
  color: white;
  min-height: 200px;
  margin-top: 50px;
  /* background-color: rgba(65, 176, 95, 0.2); */
  border-radius: 10px;
  background-color: rgba(40, 127, 184, 0.5);
  height: 220px;
  padding: 5px;
}

.overlay-news {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(6, 27, 41, 0.8);
  border-radius: 10px;
}

.App-login {
  text-align: center;
  /* background-color: #e3e6eb;
  min-height: 100vh;
  height: 100%; */
}

.App-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  font-size: 1.2rem;
  flex-direction: column;
}

.form-button-login {
  margin-top: 20px;
  width: 150px;
  height: 45px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.form-row input {
  width: 150px;
  font-size: 1rem;
  align-items: flex-start;
}

/* .login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.login-label {
  justify-self: end;
} */

.container-drop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drop-areas {
  width: 30%;
}

.drop-area {
  border: 1px solid #ccc;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

.draggable-items {
  width: 60%;
  border: 1px solid #ccc;
  min-height: 150px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 8px;
  cursor: pointer;
}

.item.draggable {
  cursor: move;
}

.prevent-selection {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard */
}

.popup-neuro {
  position: fixed;
  z-index: 100;
  color: black;
  font-size: 1.5rem;
  text-align: center;
  width: 250px;
  height: 100px;
  background: whitesmoke;
  box-shadow: 0 0 10px 2px rgba(202, 202, 202, 0.5);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 140px;
  padding: 50px;
  left: 0;
  right: 0;
}

.overlay-neuro {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* .app {
  overflow-y: hidden;
} */

.news-block {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis;
}

.news-block-text {
  text-overflow: ellipsis;
}
